.general-div {
	height: 400px;
	background-color: green;
	margin: 0px;
}

.container-fluid {
	padding: 0px;
}


h1 {
	padding-top: 10px;
	margin-top: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Quicksand', sans-serif;
}

#box1 {
	background-color: #E5B1B5;

}

#portrait {
	padding-top: 50px;
}

#box1-content {
	padding-top: 50px;
}

#box2 {
	background-color: #B3CBBD;
	overflow: hidden;
	background-image: url("static/img/spoon-graphics-vector-2.jpeg");
	background-attachment: fixed;
	background-size: cover;
	color: white;
	padding-top: 50px;
	text-align: center;
}

#box2-title {

}

#box2-elem1 {

}

#box2-elem2 {

}

#box2-elem3 {

}

#box2-elem4 {

}

#box3 {
	background-color: #E8F59B;
}


#box4 {
	background-color: #B3CBBD;
	overflow: hidden;
	background-image: url("static/img/spoon-vector-graphics-3.jpeg");
	background-attachment: fixed;
	background-size: cover;
}

#box5 {
	background-color: #827376;
}

.border {
	background-color: #E5B1B5;
	height: 100px;
}
.header-box {
	position: relative; /* anchor for paralax*/
	height:400px;
	background-image: url("static/img/spoon-graphics-vector.jpeg");
	background-attachment: fixed;
	background-size: 100%;
	background-position; 
	overflow: hidden;

}

.logo {
	position: relative;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	margin-top:75px;
	width: 100%;
}

#geo-lace {
	width: cover;
	float: top;
	margin-top: -30%;
	
}

