.general-div {
	height: 500px;
	margin: 0px;
	padding-top: 25px;
}

.container-fluid {
	padding: 0px;
}


h1 {
/*	padding-top: 10px;*/
	margin-top: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Quicksand', sans-serif;
}

.social-glyphs {
	padding-top: 15px;
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;

}


#fname {
	font-size: 5em;
}

#box1 {
	background-color: #E5B1B5;

}


#box1-content {
	padding-top: 25px;
}

#box2 {
	overflow: hidden;
	background-image: url("static/img/spoon-graphics-vector-2.jpeg");
	background-attachment: fixed;
	background-size: cover;
	color: white;
	text-align: center;
	box-shadow: 1px 1px 3px gray;
}

#box2-content {
	padding-top: 30px;
}
#box3 {
	background-color: #E8F59B;
	box-shadow: 1px 1px 3px gray;

}

#box3-5 {
	background-color: #E8F5C7;
	box-shadow: 1px 1px 3px gray;
}


#box4 {
	overflow: hidden;
	background-image: url("static/img/spoon-vector-graphics-3.jpeg");
	background-attachment: fixed;
	box-shadow: 1px 1px 3px gray;
}

#box5 {
	background-color: #728081;
	box-shadow: 1px 1px 3px gray;
}

#box6 {
	height: 50px;
	overflow: hidden;
	background-image: url("static/img/spoon-vector-graphics-3.jpeg");
	background-attachment: fixed;
	box-shadow: 1px 1px 3px gray;
}


.header-box {
	position: relative; /* anchor for paralax*/
	height:500px;
	background-image: url("static/img/spoon-graphics-vector.jpeg");
	background-attachment: fixed;
	background-size: 100%;
	background-position; 
	overflow: hidden;
	box-shadow: 1px 1px 3px gray;

}

#logo {
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	font-family: 'Codystar', cursive;
	text-align: center;
	padding-top: 150px;
	text-shadow: 1px 1px #827376;
}


#geo-lace {
	width: cover;
	float: top;
	margin-top: -30%;
	
}

#carousel-example-generic {
	margin-left: 50px;
	width: 500px;
}

.left-title {
	margin-left: 50px;
	padding-bottom: 10px;
}

