.general-div {
	height: 400px;
	background-color: green;
	margin: 0px;
}

h1 {
	padding-top: 10px;
	margin-top: 0px;
	font-family: 'Poiret One', cursive;
}

body {
	margin: 0px;
	padding: 0px;
}

#box1{
	background-color: #D3D4C4;
	opacity: 0.5;

}

#box2{
	background-color: #B3CBBD;
	overflow: hidden;
	opacity: 0.5;
	background-image: url("http://th08.deviantart.net/fs70/PRE/i/2012/271/b/a/stock___watercolor_3_by_mayshing-d5g5nwm.jpg");
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}

#box3{
	background-color: #B9C1B2;
	opacity: 0.5;
}
.header-box {
	position: relative; /* anchor for paralax*/
	height:300px;
	background-image: url("header-image.jpg");
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;

}

.logo {
	position: relative;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	margin-top: 100px;
	width: 100%;
	font-family: 'Pacifico', cursive;
}

#daisy {
	position: fixed;  
	width: 100%;
	float: center;
	display: inline-block;
}