.general-div {
/*	height: 500px;*/
	margin: 0px;
	padding: 5% 0;
	overflow: auto;
}

.container-fluid {
	padding: 0px;
}


h1 {
/*	padding-top: 10px;*/
	margin-top: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Quicksand', sans-serif;
}

.social-glyphs {
	padding-top: 15px;
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;

}


#portrait {
	padding-top: 25px;
}

#fname {
	font-size: 5em;
}

#box1 {
	background-color: #E5B1B5;
}

#box2 {
	overflow: hidden;
	background-image: url("/static/img/spoon-graphics-vector-2.jpeg");
	background-attachment: fixed;
	background-size: cover;
	color: white;
	text-align: center;
	box-shadow: 1px 1px 3px gray;
}

#box2-content {
	padding-top: 30px;
}

#box3 {
	background-color: #E8F59B;
	box-shadow: 1px 1px 3px gray;
	padding-bottom: 5%

}

#box3-5 {
	background-color: #E8F5C7;
	box-shadow: 1px 1px 3px gray;
	padding-bottom: 5%
}

#box4-content {
	color: white;
}

#box4 {
	overflow: hidden;
	background-image: url("/static/img/spoon-vector-graphics-3.jpeg");
	background-attachment: fixed;
	box-shadow: 1px 1px 3px gray;
	color: white;
	padding-top: 75px;
}

#box5 {
	background-color: #728081;
	box-shadow: 1px 1px 3px gray;
	color: white;
}

#box6 {
	height: 100px;
	overflow: hidden;
	background-image: url("/static/img/spoon-vector-graphics-3.jpeg");
	background-attachment: fixed;
/*	box-shadow: 1px 1px 3px gray;*/
	color: white;
}

#box6-content {
	margin-top: 75px;
}

.header-box {
	position: relative; /* anchor for paralax*/
	height:500px;
	background-image: url("/static/img/spoon-graphics-vector.jpeg");
	background-attachment: fixed;
/*	background-size: 100%;*/
	background-position; 
	overflow: hidden;
	box-shadow: 1px 1px 3px gray;

}

#logo {
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	font-family: 'Kaushan Script', sans-serif;
	font-size: 2em;
	padding-top: 4em;
	text-shadow: 0.05em 0.05em #827376;
}

#geo-lace {
	width: cover;
	float: top;
	margin-top: -30%;
	
}

#carousel-example-generic {
	margin-left: 3em;
	width: 500px;
}

.left-title {
	margin-left: 3em;
	padding-bottom: 0.625em;
}

hr {
	width: 500px;
}