<!DOCTYPE>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel='stylesheet' href='/static/style.css'>
	<link href='//fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'></head>
<body>

<div class='container-fluid'>

	<div class="row">
		<header class="header-box">
			<div id="logo">
				<h1 id="fname"><b>Allison K Craig</b></h1>
				<h3>Software Engineer</h3>
				<a href="https://www.linkedin.com/in/allisonkcraig" target="blank"><img class="social-glyphs" src="static/img/social-18-linked-in.png"></a>
				<a href="https://github.com/allisonkcraig" target="blank"><img class="social-glyphs" src="static/img/social-22-github.png"></a>
				<a href="https://twitter.com/AllisonKCraig" target="blank"><img class="social-glyphs" src="static/img/social-32-twitter.png"></a>
			</div>
		</header>
	</div>

	<div class="row">
		<div class="general-div " id="box1">
			<div id="box1-content">
				<div class="col-md-3 col-md-offset-1">
					<img id="portrait" src="static/img/round-profile-pic.png">
				</div>
				<span class="col-md-5 col-md-offset-1">
					<center><h3> About Allison</h3></center>
					<br>
					<center><h4>Allison lives in San Francisco where she is a software engineer specializing in Javascript and Python. She was a HackBright Academy Fellow and attends many tech meet-ups in SF. In her spare time she plays ukulele in her band The Not Marys. She studied Fashion Design at FIDM: Fashion Institute of Design and Merchandising and continues to follow her passion for creating through code.</h4></center>
				</span>
			</div>
		</div>
	</div>

	<div class="general-div" id="box2">
		<div id="box2-content">
			<h1 id="box2-title">Current Stack</h1>
			<h2 id="box2-elem1">Javascript</h2>
			<h2 id="box2-elem4">jQuery</h2>
			<h2 id="box2-elem2">Python</h2>
			<h2 id="box2-elem3">Flask</h2>
			<h2 id="box2-elem4">HTML & CSS</h2>
			<h2 id="box2-elem4">SQLite3 & SQLAlchemy</h2>
		</div>

	</div>

	<div class="general-div" id="box3">
		<div id="box3-content">
			<h1 class="left-title">EasyDrafter</h1>
			<div class="row">
				<div class="col-md-6">
					<!-- BOOTSTRAP CAROUSEL-->
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						</ol>
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="static/img/easydrafter-splash.gif" alt="...">
							</div>
							<div class="item">
								<img src="static/img/easydrafter-drafttop.gif" alt="...">
							</div>
							<div class="item">
								<img src="static/img/easydrafter-profile.gif" alt="...">
							</div>
						</div>
						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
				<div class="col-md-5">
					<h2>About</h2>
					<p>This project brought together my love of code and love of pattern drafting for clothing.<br>
						EasyDrafter is a tool used in pattern drafting which are used as templates of the shape of your client. 
						I created an app that drafts these block for you using HTML5 Canvas.
						I used Javascript/Bootstrap frontend and Python/Flask backend with a SQLite database.
						<a href="https://github.com/allisonkcraig/Hackbright-Final-Project" target="_blank"><h3>Check it out on GitHub</h3></a></p>

				</div>

			</div>
		</div>
	</div>



	<div class="general-div" id="box3-5">
		<div id="box3-5-content">
			<h1 class="left-title">GoodDeed</h1>
			<div class="row">
				<div class="col-md-6">
					<!-- BOOTSTRAP CAROUSEL-->
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						</ol>
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="static/img/gooddeed1.gif" alt="...">
							</div>
							<div class="item">
								<img src="static/img/gooddeed2.gif" alt="...">
							</div>
							<div class="item">
								<img src="static/img/gooddeed1.gif" alt="...">
							</div>
						</div>

						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
				<div class="col-md-5">
					<h2>About</h2>
					<p>GoodDeed is a community building app built to grow communities and build friendships through community service.<br>This app was build at neoHack15 in 2 days with a team of two, myself and Amy Tsang. It won the 'I'd Use That Tomorrow' Award.<br>We used Ionic for the framework and Firebase for our database. 
						<a href="https://github.com/allisonkcraig/good-deed" target="_blank"><h3>Check it out on GitHub</h3></a></p>
						<a href="https://good-deed.firebaseapp.com/#/app/splashpage" target="_blank"><h3>View Hosted on FirebaseApp</h3></a></p>

				</div>

			</div>
		</div>
	</div>

<!-- 	<div class="general-div" id="box4">
		<div id="box4-content">
			<h1>DIV4</h1>
		</div>
	</div>

	<div class="general-div" id="box5">
		<div id="box5-content">
			<h1>DIV5</h1>
		</div>
	</div> -->

	<div id="box6">
		<div id="box6-content">
			<a href="http://blog.spoongraphics.co.uk/freebies/20-free-high-res-geometric-polygon-backgrounds" target="_blank">Spoon Graphics: Backgrounds</a>
			<a href="https://www.google.com/fonts" target="_blank">Google Fonts: Fonts</a>
			<a href="http://glyphicons.com/" target="_blank">Glyphicons: Social Media Icons</a>
		</div>

	</div>

</div>
<script type="text/javascript">
$(window).scroll(function(){

  var windowScroll = $(this).scrollTop();
  	console.log("WINDOW SCROLL: ",windowScroll);

  	// var h = $('#box2-content').offset().top;
  	// console.log(h)

 	// Nameplace - Header
    $('#logo').css({
      'transform' : 'translate(0px, '+ windowScroll /8 +'%)'
    });
    // Overlay - Header
    $('#geo-lace').css({
      'transform' : 'translate(0px, '+ windowScroll /4 +'%)'
    });


	// Content - Div 1
	if (windowScroll < 80) {
		$('#box1-content').css({ 'opacity' : ( windowScroll /200) });
	} else if (windowScroll > 650) {
		$('#box1-content').css({ 'opacity' : 1 - ((windowScroll - 550) / 200)});
	} else {
		$('#box1-content').css({ 'opacity' : 1});
	}

	// Content - Div 2
	if (windowScroll > 1050) {
		 $('#box2-content').css({ 'opacity' : 1 - ((windowScroll - 950) / 200)});
	} else if (windowScroll < 750) {
		$('#box2-content').css({ 'opacity' : ((windowScroll - 450) / 200)});
	} else {
		$('#box2-content').css({ 'opacity' : 1});
	}

	// Content - Div 3
	if (windowScroll > 1500) {
		 $('#box3-content').css({ 'opacity' : 1 - ((windowScroll - 1500) / 200)});
	} else if (windowScroll < 1400) {
		$('#box3-content').css({ 'opacity' : ((windowScroll - 1200) / 200)});
	} else {
		$('#box3-content').css({ 'opacity' : 1});
	}

	// Content - Div 3.5
	if (windowScroll > 2000) {
		 $('#box3-5-content').css({ 'opacity' : 1 - ((windowScroll - 2000) / 200)});
	} else if (windowScroll < 1900) {
		$('#box3-5-content').css({ 'opacity' : ((windowScroll - 1700) / 200)});
	} else {
		$('#box3-5-content').css({ 'opacity' : 1});
	}


	//1050
});


</script>
</body>
</html>